<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_bootstrap_meta')%>

    <title>Sign In</title>
  </head>
  <body
    style="
      background: url('https://img.freepik.com/free-vector/paper-style-white-monochrome-background_23-2149003153.jpg?w=996&t=st=1713244837~exp=1713245437~hmac=91b0e43b3525be2d122de3e11653b0d3dc926f666df6a4a5f697dd28089b0584');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      padding-top: 20px;
      font-family: monospace;
    "
  >
    <div class="container">
       <!-- Display flash messages -->
       <% if (success_msg && success_msg.length > 0) { %>
        <div class="alert alert-success"><%= success_msg %></div>
        <% } %>
        <% if (error_msg && error_msg.length > 0) { %>
          <div class="alert alert-danger"><%= locals.error_msg %></div>
          <% } %>

      <div
        class="w-50 mx-auto mt-5"
        style="
          height: 80vh;
          display: grid;
          place-content: center;
          width: 530px;
          background: transparent;
          border-radius: 5px;
          box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
        "
      >
        <div class="mx-auto mt-3 mb-3" style="width: 100px">
          <h4>Sign In</h4>
        </div>

        <form action="/users/create-session" method="POST" style="width: 300px">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email..."
              name="email"
              required
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              required
            />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-success btn-block mb-4">
            Sign in
          </button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>No Account? <a href="/users/signup">Register Here</a></p>
          </div>
        </form>
      </div>
    </div>
    <%- include('_bootstrap_script')%>
  </body>
</html>
